html,
body {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.heading {
  /* font: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  text-align: center;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}


.textplace {
  border: none;
  font-size: 20px;
  padding-left: 24px;
  color: #5d5d5d;
  height: 34px;
  width: 382px;
}

input[type="text"]:focus {
  outline: none; /* oranges! yey */
}

.edittextplace {
  border: none;
  font-size: 20px;
  height: 38px;
  width: 399px;
}

.Edit input[type="text"]:focus {
  outline: 2px solid black;
  font-size: 20px;
  font-family: inherit;
  font-weight: inherit;
}

input {
  margin-right: 10px;
}

.round {
  float: left;
  position: relative;
  margin-left: 5px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 28px;
}

.round label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: white;
  border-color: lightgreen;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.showDelete label {
  /* display: block; */
  min-height: 40px;
  overflow: hidden;
  transition: color 0.4s;
}
/* section {
  display: block;
}

.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  margin-top: 100px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
} */

/* .checkbox {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
} */

.inputText {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.tasktab {
  background: transparent;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  /* text-align: left; */
  /* display: inline-block; */
  /*justify-content: center; */
  /* background-color: white; */
  /* margin: 100px 0 40px 0; */
}

.Edit {
  display: inline-flex;
  /* float: right; */
  position: relative;
  width: 350px;
  margin-top: 0px;
  margin-left: 20px;
}

.tasktab2 {
  background: #fff;
  text-align: left;
  min-height: 40px;
  overflow: hidden;
  width: 450px;
  border-style: none;
  border-bottom: 1px solid #ededed;
}

.toggle {
  margin-left: 8px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 20px;
  border: none;
  margin-top: 6px;
  background: transparent;
}

button {
  /* float: right; */
  outline: none;
  /* background-color: transparent; */
  align-items: center;
  font-size: 15px;
  color: grey;
  /* margin-top: 4px; */
}

.destroyAll {
  float: right;
  border: none;
  margin-top: 5px;
  align-items: center;
  margin-right: 5px;
}

.Completed {
  padding-left: 25px;
  padding-top: 5px;
  line-height: 0.8;
  align-content: center;
  vertical-align: sub;
  color: #d9d9d9;
  text-decoration: line-through;
}

.Pending {
  padding-left: 25px;
  line-height: 0.8;
  align-content: center;
  vertical-align: sub;
  padding-top: 5px;
  color: #4d4d4d;
}

ul {
  list-style: none;
  justify-content: center;
}

.showDelete .destroy {
  border: none;
  font-size: 15px;
  margin-top: 4px;
  display: none;
  float: right;
  position: relative;
  margin: auto 0;
  margin-right: 5px;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

.showDelete .destroy:hover {
  color: #af5b5e;
}

.showDelete .destroy:after {
  content: "×";
}

.showDelete:hover .destroy {
  display: block;
}

.details {
  background: #ffff;
  /* justify-content: center; */
  padding-left: 10px;
  text-align: left;
  /* vertical-align: baseline; */
  align-items: center;
  font-size: 15px;
}

.details .filter {
  margin-left: 45px;
}

.details button {
  color: inherit;
  text-decoration: none;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 5px;
  /* margin-top: 3px; */
  /* float: right; */
  position: relative;
  /* margin: auto 0; */
  transition: color 0.2s ease-out;
}

.details button:hover {
  border-color: rgba(175, 47, 47, 0.1);
  color: #af5b5e;
}

.details button:focus {
  border-color: rgba(175, 47, 47, 0.2);
}
.details .destroyAll:focus {
  border: none;
}

/* .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.destroy input[type="button"]:hover {
	color: #af5b5e;
}

.destroy input[type="button"]:after {
	content: '×';
}

.tasktab2:hover input[type="button"] {
	display: block;
} */
